<!DOCTYPE html>
<html lang="en">
<head>
    <!--<?php $public_url = "http://3.scuthelper.applinzi.com/Application/Home/View/Public/"; ?>-->

    <!--<?php $public_url = $_SERVER['HTTP_HOST']."../Application/Home/View/Public/";?>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="Application/Home/View/Image/logo.jpg">

    <title>密码修改 - 华工小助手</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

</head>

<body>

<font face="微软雅黑">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"></a> <a class="brand" href="#">华工小助手</a>
            </div>
        </div>
    </div>
